<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">Motoren</a>
            </div>
            {% if request.path != '/' %}
                <form class="navbar-form navbar-left" role="search" method="GET" action="{{ url_for('search_inventory') }}">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search" name="q">
                      <button type="submit" class="btn btn-default">Search</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </nav>
    {% block body %}
    {% endblock %}

    {% block tail %}
    {% endblock %}
</body>
</html>