{% extends "base.html" %}
{% block head %}
    <title>Search - Motoren</title>
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5>Current Transaction (Go to "View Current Transaction" to checkout)</h5>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Item ID</th>
                            <th>Name</th>
                            <th>Supplier</th>
                            <th>Description</th>
                            <th>Code</th>
                            <th>Current stock</th>
                            <th>Quantity</th>
                            <th>SRP</th>
                            <th>Selling Price</th>
                        </tr>
                    </thead>
                    {% if 'sales' in session %}
                        {% for item in session['sales'].values() %}
                            <tr>
                                <td>{{ item['item_id'] }}</td>
                                <td>{{ item['name'] }}</td>
                                <td>{{ item['supplier'] }}</td>
                                <td>{{ item['description'] }}</td>
                                <td>{{ item['code'] }}</td>
                                <td>{{ item['stock'] }}</td>
                                <td>{{ item['quantity'] }}</td>
                                <td>
                                    P {{ item['srp'] }}
                                    
                                    (P{{ item['price'] }} each)
                                </td>
                                <td>
                                    <input type="hidden" name="id::{{ loop.index0 }}" value="{{ item['item_id'] }}">
                                    <input type="hidden" name="stock::{{ loop.index0 }}" value="{{ item['stock'] }}">
                                    <input type="hidden" name="quantity::{{ loop.index0 }}" value="{{ item['quantity'] }}">
                                    <input type="hidden" name="price::{{ loop.index0 }}" value="{{ item['srp'] }}">
                                    <input class="prices" name="actual::{{ loop.index0 }}" type="text" size="10" value="{{ item['srp'] }}">
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Search Results:</h2>
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Supplier</th>
                            <th>Description</th>
                            <th>Code</th>
                            <th>Price</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for item in items %}
                        <tr>
                            <td class="col-md-2">
                                <a href="{{ url_for('edit_inventory', item_id=item['id']) }}">{{ item['name'] }}</a>
                                <br><br>
                                <strong>Stock:</strong> {{ item['stock'] }}
                                {% if item['in_paco_roman'] != None %}
                                <br>
                                <sub>In Paco Roman: {{ item['in_paco_roman'] }}</sub>
                                <br>
                                <sub>In General Tinio: {{ item['in_gen_tinio'] }}</sub>
                                {% endif %}
                                <br><br>
                                <form method="POST" action="{{ url_for('add_transfer') }}" id="transfer-field-{{ item['id'] }}">
                                    <strong>Transfer:</strong>
                                    <div class="input-group">
                                        <input type="number" class="form-control" name="transfer-count" value="">
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">To <span class="caret"></span></button>
                                            <input type="hidden" name="paco-roman-count" id="paco-roman-count-{{ item['id'] }}" value="{{ item['in_paco_roman'] }}">
                                            <input type="hidden" name="gen-tinio-count" id="gen-tinio-count-{{ item['id'] }}" value="{{ item['in_gen_tinio'] }}">
                                            <input type="hidden" name="transfer-to" id="transfer-to-id-{{ item['id'] }}">
                                            <input type="hidden" name="transfer-id" id="transfer-id-{{ item['id'] }}" value="{{ item['id'] }}">
                                            <input type="hidden" name="transfer-stock" id="transfer-stock-{{ item['id'] }}" value="{{ item['stock'] }}">
                                            <input type="hidden" value="{{ q }}" name="query">
                                            <ul class="dropdown-menu">
                                                <li><a href="#" onclick="$('#transfer-to-id-{{ item['id'] }}').val('Gen. Tinio'); $('#transfer-field-{{ item['id'] }}').submit()">Gen. Tinio</a></li>
                                                <li><a href="#" onclick="$('#transfer-to-id-{{ item['id'] }}').val('Paco Roman'); $('#transfer-field-{{ item['id'] }}').submit()">Paco Roman</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td class="col-md-2">{{ item['category'] }}</td>
                            <td class="col-md-2">{{ item['supplier'] }}</td>
                            <td>{{ item['description'] }}</td>
                            <td class="col-md-1">{{ item['code'] }}</td>
                            <td class="col-md-1">{{ item['price'] }}</td>
                            <td class="col-md-2">
                                <form method="POST" action="{{ url_for('add_sale') }}" class="form-inline">
                                    <input type="hidden" value="{{ item['id'] }}" name="id">
                                    <input type="hidden" value="{{ item['name'] }}" name="name">
                                    <input type="hidden" value="{{ item['category'] }}" name="category">
                                    <input type="hidden" value="{{ item['description'] }}" name="description">
                                    <input type="hidden" value="{{ item['code'] }}" name="code">
                                    <input type="hidden" value="{{ item['price'] }}" name="price">
                                    <input type="hidden" value="{{ item['supplier'] }}" name="supplier">
                                    <input type="hidden" value="{{ item['stock'] }}" name="stock">
                                    <input type="hidden" value="{{ q }}" name="query">

                                    <div class="form-group">
                                        <label>Quantity:</label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" name="quantity">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit">Add</button>
                                            </span>
                                        </div><!-- /input-group -->
                                    </div>
                                </form>
                            </td>
                            <td>
                                <a href="{{ url_for('delete_inventory', item_id=item['id'], q=q) }}" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}