{% extends "base.html" %}
{% block head %}
    <title>Search - Motoren</title>
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Search Results:</h2>
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Stock</th>
                            <th>Name</th>
                            <th>Supplier</th>
                            <th>Description</th>
                            <th>Code</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for item in items %}
                        <tr>
                            <td>{{ item['stock'] }}</td>
                            <td class="col-md-2">{{ item['name'] }}</td>
                            <td class="col-md-2">{{ item['supplier'] }}</td>
                            <td>{{ item['description'] }}</td>
                            <td class="col-md-1">{{ item['code'] }}</td>
                            <td class="col-md-1">{{ item['price'] }}</td>
                            <td class="col-md-2">
                                <form method="POST" action="{{ url_for('add_sale') }}" class="form-inline">
                                    <input type="hidden" value="{{ item['id'] }}" name="id">
                                    <input type="hidden" value="{{ item['name'] }}" name="name">
                                    <input type="hidden" value="{{ item['description'] }}" name="description">
                                    <input type="hidden" value="{{ item['code'] }}" name="code">
                                    <input type="hidden" value="{{ item['price'] }}" name="price">
                                    <input type="hidden" value="{{ item['supplier'] }}" name="supplier">
                                    <input type="hidden" value="{{ item['stock'] }}" name="stock">

                                    <div class="form-group">
                                        <label>Quantity:</label>
                                        <input type="text" class="form-control" name="quantity" value="1" size="2">
                                    </div>
                                    <button class="btn btn-default" type="submit">Add</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}